langchain
langchain_chroma
langchain_community
langchain_openai
openai
pypdf
chromadb
tiktoken
langchainhub
pandas
pyarrow
prefect
scikit-learn
sentence_transformers
datasets
accelerate
fastapi
pydantic