uvicorn>=0.16.0
fastapi>=0.64.0,<1.0.0
pydantic #>=1.8.1,<2.0.0
requests>=2.23.0,<=2.32.2
pydantic_settings

# If locally copyied whl file inside qna_model_api then use given below
qna_model-0.0.4-py3-none-any.whl