<div>
    <mat-toolbar class="example-toolbar card">
        <button *ngIf="currentUrl!='/auth/sign-in'" mat-icon-button (click)="isShowing = !isShowing"><mat-icon
                style="color: var(--secondary-color);">menu</mat-icon></button>
        <div style="display: flex; width: 100%;">
            <h2 style="width: 80%;" class="example-app-name">Answer Analysis Engine</h2>
            <div style="width: 20%; display: flex; align-items: center; justify-content: end;">
                <div *ngIf="currentUrl!='/auth/sign-in'" style="display: flex;" >
                    <div style="display: flex; cursor: pointer; background-color: var(--success-color);" class="card-user">
                        <p style="font-size: 18px; margin: 0; color: var(--secondary-color);">{{email}}</p>
                        <mat-icon style="color: var(--secondary-color);">account_circle</mat-icon>
                    </div>
                    <div (click)="signOut()" style="background-color: var(--light-blue-color);" class="card-user">

                        <a style="color: var(--error-color);" href="/auth/sign-in">Sign Out</a>
                    </div>
                    
                </div>
            </div>
            
        </div>
        
    </mat-toolbar>
    <router-outlet *ngIf="currentUrl=='/auth/sign-in'"></router-outlet>
    <mat-sidenav-container  *ngIf="currentUrl!='/auth/sign-in'" class="example-container card" autosize>
        <mat-sidenav #sidenav class="example-sidenav" mode="side" opened="true">
            <mat-nav-list>
                <p *ngIf="selectedMenu == 'dashboard'" (click)="menuSelected('dashboard')"
                    style="cursor: pointer; background-color: var(--secondary-color); color: var(--primary-color);" routerLink="dashboard"
                    class="menu-list-item inner-card"><mat-icon>dashboard</mat-icon><span style="margin-left: 5px;"
                        *ngIf="isShowing">Dashboard</span></p>
                <p *ngIf="selectedMenu != 'dashboard'" (click)="menuSelected('dashboard')"
                    style="cursor: pointer; color: var(--secondary-color);" routerLink="dashboard" class="menu-list-item inner-card">
                    <mat-icon>dashboard</mat-icon><span style="margin-left: 5px;" *ngIf="isShowing">Dashboard</span></p>
                <p *ngIf="selectedMenu == 'results'" (click)="menuSelected('results')"
                    style="cursor: pointer; background-color: var(--secondary-color); color: var(--primary-color);" routerLink="results"
                    class="menu-list-item inner-card"><mat-icon>question_answer</mat-icon><span
                        style="margin-left: 5px;" *ngIf="isShowing">Results </span></p>
                <p *ngIf="selectedMenu != 'results'" (click)="menuSelected('results')"
                    style="cursor: pointer; color: var(--secondary-color);" routerLink="results"
                    class="menu-list-item inner-card"><mat-icon>question_answer</mat-icon><span
                        style="margin-left: 5px;" *ngIf="isShowing">Results
                    </span></p>
            </mat-nav-list>
        </mat-sidenav>
        <app-loader></app-loader>
        <router-outlet></router-outlet>
    </mat-sidenav-container>
</div>